---
 const personalImageAlt = "Adrian Canosa"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Adrián Canosa. Recientemente graduado de The Bridge | Digital Talent Accelerator,
       donde he consolidado habilidades técnicas en el desarrollo de aplicaciones 
      web utilizando el stack MERN (MongoDB, Express, React y Node.js).</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >el desarrollo de un ecommerce sobre el mundo de Pokemon con más de 1000 articulos.</strong
      >. Actualmente estoy ampliando mis conocimientos en Java.
    </p>

    <p>
      Busco nuevass oportunidades para seguir aprendiendo y mejorando, 
      asumir retos interesantes y aportar valor con mi trabajo en equipo y mi rapida capacidad de integración y
      de aprendizaje.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>