---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2022 - Actualmente...",
    title: "Desarrollador FullStack",
    company: "Freeelance",
    description:
      "Diseño y desarrollo de aplicaciones web personalizadas para negocios locales.Resolución de problemas técnicos y colaboración en proyectos muultidisciplinarios.Implementación de soluciones innvoadores con enfoques en UX/UI. ",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
