---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2022 - Actualmente...",
    title: "Desarrollador FullStack",
    company: "Freeelance",
    description:
      ["Dise침o y desarrollo de aplicaciones web personalizadas para negocios locales.",
      "Creaci칩n de sitios web responsivos y optimizados, mejorando la presencia online de los clientes.",
      "Incremento de las ventas de un cliente en mas de un 70% mediante estrategiass de digitalizaci칩n y optimizaci칩n de su sitio web"
    ]
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
