---
import SunIcon from "./icons/Sun.astro"
import MoonIcon from "./icons/Moon.astro"

const getThemePreference = () => {
  if (typeof localStorage !== "undefined") {
    return localStorage.getItem("theme") ?? "system"
  }
  return "system"
}
---

<div class="relative ml-1 mr-1">
  <button
    id="theme-toggle-btn"
    class="appearance-none border-none flex items-center justify-center hover:scale-125 transition duration-300 ease-in-out p-1.5 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-800"
    aria-label="Cambiar tema"
  >
    <SunIcon class="size-5 block dark:hidden" />
    <MoonIcon class="size-5 hidden dark:block" />
  </button>
</div>

<script is:inline>
  const matchMedia = window.matchMedia("(prefers-color-scheme: dark)")

  const getThemePreference = () => {
    if (typeof localStorage !== "undefined") {
      return localStorage.getItem("theme") ?? "system"
    }
    return matchMedia.matches ? "dark" : "light"
  }

  const updateTheme = () => {
    const themePreference = getThemePreference()
    const isDark =
      themePreference === "dark" ||
      (themePreference === "system" && matchMedia.matches)

    document.documentElement.classList[isDark ? "add" : "remove"]("dark")
  }

  const toggleTheme = () => {
    const currentTheme = getThemePreference()
    const nextTheme =
      currentTheme === "light"
        ? "dark"
        : currentTheme === "dark"
        ? "system"
        : "light"

    localStorage.setItem("theme", nextTheme)
    updateTheme()
  }

  document.getElementById("theme-toggle-btn").addEventListener("click", toggleTheme)

  matchMedia.addEventListener("change", updateTheme)
  updateTheme()
</script>